aws/step-function.json
{
  "Comment": "Example of how to iterate over an arrray of items in Step Functions",
  "StartAt": "GetProducts",
  "States": {
    "GetProducts": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:356616195343:function:whiskey-get-products:PROD",
      "Next": "GetNextProduct"
    },
    "GetNextProduct": {
      "Comment": "Check if the currentWorkItem is the SENTINEL. If so, we're done. Otherwise, do something.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.next",
          "StringEquals": "SENTINEL",
          "Next": "GetUsers"
        }
      ],
      "Default": "StoreProductInfo"
    },
    "StoreProductInfo": {
      "Comment": "Do real work using the currentWorkItem. Change this to be an activity/task.",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:356616195343:function:store-product-info:PROD",
      "Next": "GetNextProduct"
    },
     "GetUsers": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:356616195343:function:getUsers:PROD",
      "Next": "GetNextUser"
    },
    "GetNextUser": {
      "Comment": "Check if the currentWorkItem is the SENTINEL. If so, we're done. Otherwise, do something.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.next",
          "StringEquals": "SENTINEL",
          "Next": "DoneUsers"
        }
      ],
      "Default": "NotifyUser"
    },
    "NotifyUser": {
      "Comment": "Do real work using the currentWorkItem. Change this to be an activity/task.",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:356616195343:function:whiskey-alert-users:PROD",
      "Next": "GetNextUser"
    },
    "DoneUsers": {
      "Type": "Succeed"
    }
  }
}